name: Deploy Angular to GitHub Pages

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - uses: actions/checkout@v4

      # 2️⃣ Setup Node
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4️⃣ Build Angular app
      - name: Build Angular
        # run: npm run build -- --configuration production --base-href="/${{ github.event.repository.name }}/"
        run: npm run build -- --configuration production --base-href="/git-actions/"

      # 5️⃣ Deploy to GitHub Pages
      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # target branch for GitHub Pages
          #   folder: dist/${{ github.event.repository.name }} # Adjust if your folder name differs
          folder: dist/git-actions # Adjust if your folder name differs
